###> symfony/framework-bundle ###
/.env.local
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

/.ebextensions/00-custom.config
/.php_cs.cache
/project.zip
/.idea

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
.php-cs-fixer.cache
###< phpunit/phpunit ###

