container_commands:
    01vardir:
        command: mkdir -p var/cache/prod/twig && chmod -R 770 var && touch var/data.db
    02composer:
        command: php composer.phar install --no-dev --prefer-dist --optimize-autoloader --no-interaction
    03migrations:
        command: php bin/console doctrine:migrations:migrate --no-interaction
        leader_only: true
        ignoreErrors: true

option_settings:
    - namespace: aws:elasticbeanstalk:application:environment
      option_name: COMPOSER_HOME
      value: /root
    - namespace: aws:elasticbeanstalk:application:environment
      option_name: APP_ENV
      value: prod
    - namespace: aws:elasticbeanstalk:container:php:phpini
      option_name: document_root
      value: /public
    - namespace: aws:elasticbeanstalk:container:php:phpini
      option_name: memory_limit
      value: 1G
    - namespace: aws:elasticbeanstalk:container:php:phpini
      option_name: display_errors
      value: "On"
    - namespace: aws:elasticbeanstalk:container:php:phpini
      option_name: max_execution_time
      value: 60
    - namespace: aws:elasticbeanstalk:container:php:phpini
      option_name: zlib.output_compression
      value: "On"
    - namespace: aws:autoscaling:launchconfiguration
      option_name: InstanceType
      value: t1.micro
    - namespace: aws:elb:listener:443
      option_name: SSLCertificateId
      value: arn:aws:acm:us-east-1:424253302663:certificate/71644a4b-bae4-4010-9810-95ba341bad3c
    - namespace: aws:elb:listener:443
      option_name: ListenerProtocol
      value: HTTPS
    - namespace: aws:elb:listener:443
      option_name: InstancePort
      value: 80
    - namespace: aws:elb:listener:443
      option_name: InstanceProtocol
      value: HTTP
    - namespace: aws:elb:listener:80
      option_name: ListenerEnabled
      value: true
    - namespace: aws:elasticbeanstalk:application
      option_name: Application Healthcheck URL
      value: /v1/healthcheck
