commands:
    01-composer-update:
        command: "export COMPOSER_HOME=/root && composer self-update"

container_commands:
    02-get-composer:
        command: "composer install --no-interaction --optimize-autoloader"
    07-clear-cache:
        command: "php bin/console cache:clear -e=prod"

option_settings:
    - namespace: aws:elasticbeanstalk:container:php:phpini
      option_name: document_root
      value: /public

    - namespace: aws:elasticbeanstalk:application:environment
      option_name: TWITTER_API
      value: https://api.twitter.com