commands:
    01-composer-update:
    command: "export COMPOSER_HOME=/root && composer self-update"

container_commands:
    02-get-composer:
        command: "composer install --no-interaction --optimize-autoloader"
    07-clear-cache:
        command: "php app/console cache:clear -e=prod"

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
